body{
    background-image: url(foto4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.container{
    width: 500px;
    height: 800px;
    border: 4px solid black;
    box-shadow: inset;
    background-color: lightgrey;
    border-radius: 10px;
}
.container input{
    border-radius: 10px;
}
.container button{
    border-radius: 10px;
}